<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu contentId="main-content"></ion-menu>
    <ion-title>
      AGO×HM
    </ion-title>

  </ion-toolbar>
</ion-header>
<ion-content class="pad">

  <ion-item>
    <ion-label position="floating">Write somthing ...</ion-label>
    <ion-input type="text" [(ngModel)]="test" name="test" ></ion-input>
  </ion-item>

  <ion-button margin  color="tertiary" (click)="addtotable()">Add to list</ion-button>
  <ion-button margin  color="warning" (click)="clear()">Clear</ion-button>
<ion-list>
  <ion-item *ngFor="let t of table ; let index = index">
    <ion-label>{{t}}</ion-label>
    <ion-button color="danger" (click)="Remove(t)"><ion-icon name="trash-outline"></ion-icon></ion-button>
  </ion-item>
</ion-list>

</ion-content>

 <ion-footer>
    <ion-toolbar>
      <div class="footertool">
      <ion-icon routerLink="/sinup" name="list-outline"></ion-icon>
      <ion-icon name="home-outline"></ion-icon>
      <ion-icon name="bag-handle-outline"></ion-icon>
      <ion-icon routerLink="/login" name="person-outline"></ion-icon>
      </div>

    </ion-toolbar>
  </ion-footer>

